body{    
    margin: 0px;
    padding: 0px;
    width: auto;
    overflow-x: hidden;
}
header{ 
    margin-top: -30px;
    top: 0px;  
    color: white;
    padding-top: 30px;
    height: 130px;
}
.container{
    background: black;
    margin: auto;
    overflow: hidden;
   
}
.logo{
    float: left;
    margin: 5px;
}
.logo img{
    
    width: 80px;
    height: 80px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background: black;
    border-radius:50px; 
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.logo figcaption{
    
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 10px black;
}
header nav{
    float: right;
    margin-top: 35px;
}
header ul{
    margin: 0;
    padding: 0;
}
header li{
    
    list-style-type: none;
    display: inline;
    padding: 0 20px 0 20px; 
    
}
header a{
    margin-right: 20px;
    padding: 10px 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    
}
.sp{    
    font-size: 30px;
}
.mailbox{
    float: right;
}
.fa-heart{
    
    padding: 10px;
    background-color: rgb(252, 6, 239);
    margin-left: 150px;
    cursor: pointer;
    
}
.fa-search{
    padding: 10px;
    background-color: gray;
    margin-left: -45px;
    cursor: pointer;
}
.fa-envelope{
    margin-left: -10px;
    cursor: pointer;
}
/*-----------------slider-----------------*/
#slider{
    overflow:hidden;
    height: 80vh;
}
#slider figure{
    width: 500%;
    position: relative;
    overflow: hidden;
    margin: 0;
    left: 0;
    
}
#slider figure img{
    width: 20%;
    float: left;
}

/*----------------more description-------------*/
.more_options{
    background-color: rgb(168, 167, 167);
    font-family: 'Roboto',sans-serif;
    color: white;
    margin-top: 3px;
    
}
.desc{
    color: rgb(252, 4, 252);
    font-weight: bold;
}
.description-1{
    display: inline-flex;
}
.description-1 ul{
    list-style-type: none;
    margin: 30px;

}
.description-1 ul img{
    border-radius:50px;
    width: 80px;
    height: 80px;
    border: 2px white solid;
}

/*-----------------------side menu--------------------*/
.side-menu{
    height: 79%;
    width: 15%;
    font-size: 16spx;
    float: left;
    z-index: 2;
    background-color: #ddd;
    margin-top: 20px;
}
.side-menu ul{
   margin-left: -20px;
    

}
.side-menu ul li{
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
   

}
.side-menu ul li a{
    text-decoration: none;
    color: black;
    text-align: center;
}
.side-menu ul li:hover{
    
    background-color: black;
    transition: background 1s linear;

    
}
.side-menu ul li a i:hover{
    color:black;

}
.side-menu ul li ul{
    display: none;
    z-index: 10;
    top: 77px;
}
.side-menu ul li:hover ul{
    display: block;
    height: 400px;
    margin-left: 14%;
    padding: 0 100px 10px 10px;
    position: fixed;
    background: #ececec;
    color: white;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5) ;
    
}
.side-menu li:hover a{
    color: white;

    
}
.fa-angle-right{
    float: right;
    margin-left: 10px;
}
#icon{
    float: left;
    margin-right: 40px;
    margin-left: 3px;
    background-color: white;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid;
    padding: 2px;
    line-height: 20px;    
    border-color: black;
}

.side-menu li:hover #icon{
    color: black;
}
/*---------------featured categories------------*/
.featured-categories{
    padding: 10px;

}

.featured-categories img{
    width: 30vh;
    height: 30vh;
    
    transition: 1s;
    cursor: pointer;
    
}
.featured-categories figure{
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.widget1 figcaption{
    font-size: 12px;
   
}
.widgets{
    display: flex;
    justify-content: space-around;

}
.widget1{
    border: 1px gray solid;
    max-width: 236px;
    padding: 20px;
    box-sizing: border-box;
    
}
.button{
    float: right;
}
