.mk header{
    height:70px;
    width:95%;
    margin:auto;
    
}
#mk_headsec{
    float:left;
    width:97%;
}
#mk_headsec1{
    height:20px;
}
#mk_headsec2{
    height:20px;
}
#mk_namesec span{
    color: darkgoldenrod;
}
#mk_namesec
{
    float:left;
    font-weight: bold;
    font-size:30px;
    margin-top:2px;
}
#mk_callsec{
    float:right;
    margin-top: 20px;
}
#mk_phone{
    font-size: 30px;
}
#mk_sec3{
    float:left;
}
#mk_sec4{
    float:right;
}
.mk nav{
    border-bottom: 5px solid darkgoldenrod;
    width:100%;
    align-self: auto;
    padding-bottom:5px;
}

.mk nav a{
    text-decoration: none;
    color:black;
     margin-left:30px;
}
/* nav bar active element styling */
.mk nav .mk_select {
    background-color: darkgoldenrod;
    padding:10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.mk article{
    
    background-color: rgb(105, 105, 8);
    padding:3%;
}
#mk_whitesec{
    background-color: white;
    padding:0.8%;
}
#mk_banner1{
    display:inline-block;
    width:74%;
}
#mk_banner1 img{
    width:100%;
    height:300px;
    
}
#mk_banner1 section{
    background-color: black;
    opacity:0.5;
    color:white;
    padding:15px;
    height:50px;
    margin-top:-85px;
}

#mk_banner2{
    width:23%;
    float:right;
    background-color: darkgoldenrod;
    height:300px;
    padding-left:2%;
}
#mk_formsec2{
    color:white;
    display:inline-block;
    height:300px;
    width:100%;
}
#mk_name{
    height:20px;
    width:80%;
    border-radius: 5px;
    border-block-end-style: none;
}
#mk_email{
    height:20px;
    width:80%;
    border-radius: 5px;
    border-block-end-style: none;
}
#mk_idea{
    height:50px;
    width:80%;
    border-radius: 5px;
    border-block-end-style: none;
}
#mk_formsec button{
    background-color: black;
    color:white;
    width:100px;
    height:30px;
    border-radius: 5px;
}
#mk_contentsec{
    padding:2%;
    
}
.mk_card{
    background-color:rgba(211, 211, 211, 0.226);
    border:2px solid rgba(200, 200, 200, 1);
    display: inline-block;
    width:26%;
    margin-right:1.25%;
    margin-left:1.25%;
    padding:2%;
    padding-top:0px;
    padding-bottom:0px;
}
.mk_card a{
    color:black;
}
.mk_content{
    display:inline-block;
    width:200px;
    height:80px;
}
.mk_box{
    padding:3px;
    float:right;
    background-color:white;
    width:90px;
    height:90px;
    border:2px solid rgba(200, 200, 200, 1);
    
}
.mk_box section{
    background-color: rgba(200, 200, 200, 1);
    width:90px;
    height:90px;
    
}
.mk footer{
    background-color: rgb(105, 105, 8);
    height:80px;
    color:white;
    padding-left:5%;
    padding-top:20px;
    padding-bottom:20px;
}
#mk_fsec1{
    display:inline-block;
}
#mk_fsec2{
    margin-right: 40px;
    float:right;
}
#mk_fsec1 a{
    text-decoration: none;
    color:white;
}
#mk_subs{
    height:30px;
    border-radius: 5px;
    width:250px;
} 
#mk_fsec2 button{
    height:30px;
    width:100px;
    border-radius:5px;
    background-color: black;
    color:white;
    margin:5px;
} 
